single-line(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
multi-line($num){
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}